@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(37, 37, 37);
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 0 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li {
  cursor: pointer;
  transition: all 0.5s;
  font-size: 18px;
}

nav ul li:hover {
  color: aqua;
  text-shadow: 2px 2px 30px aqua;
  transition: all 0.5s;
}

nav h1 {
  font-size: 30px;
}

nav button {
  padding: 15px;
  border-radius: 60px;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  width: 140px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  border: none;
}

nav button:hover {
  background-image: linear-gradient(225deg, #2B86C5 0%, #784BA0 50%, #FF3CAC 100%);
}

.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.slogan {
  width: 700px;
}

.slogan h1 {
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -3px;
}

.slogan h1 span {
  color: #1d89aa;
}

.about {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.about p {
  width: 350;
  text-align: justify;
}

.about button {
  width: 100px;
  height: 100px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #21D4FD;
  background-image: linear-gradient(315deg, #21D4FD 0%, #B721FF 100%);
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.about button:hover {
  background-color: #21D4FD;
  background-image: linear-gradient(315deg, #B721FF 0%, #21D4FD 100%);
}

.hero img {
  width: 560px;
  height: 400px;
}

/* MARKALAR */

.brands {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.drops-container {
  padding-top: 60px;
}

.category {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 35px;
}

.category li {
  background-color: gray;
  padding: 10px 20px;
  border-radius: 60px;
  list-style: none;
}

.cards-container {
  max-width: 900px;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.card {
  width: 280px;
  min-height: 400px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  transition: all 0.5s;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 2px 2px 30px aqua;;
  transition: all 0.5s;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h1 {
  font-size: 24px;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.description p {
  color: gray;
}

.price {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.price p {
  color: #4158d0;
}

.price img {
  width: 30px;
}

.time {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.time p {
  background-color: rgb(195, 195, 195 );
  border-radius: 20px;
  padding: 10px;
}

.time button {
  background-color: white;
  border: none;
  color: #4158d0;
  transition: all 0.5s;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.time button:hover {
  background-color: rgb(216, 216, 216);
  color: black;
  transition: all 0.5s;
}

.add {
  margin: -120px;
  width: 101vw;
  min-height: 150px;
  background-color: #00abb3;
  margin-top: 200px;
  font-size: 126px;
  line-height: 146px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 25px;
  font-weight: 800;
  white-space: nowrap;
  transform: rotate(-6deg);
  text-shadow: 2px 2px 39px rgba(255, 255, 255, 0.74);
}

.infos1 {
  margin-top: 300px;
  min-width: 600px;
  min-height: 600px;
}
.infos1 h1 {
  font-size: 40px;
  margin-bottom: 50px;
}
.info1 {
  display: flex;
  gap: 20px;
  border: 1px solid #292b2d;
  justify-content: space-between;
}
.info-text {
  min-width: 300px;
  max-width: 500px;
  min-height: 200px;
  background-color: #21D4FD;
  background-image: linear-gradient(180deg, #21D4FD 0%, #B721FF 100%); 
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.info-text img {
  width: 35px;
}
.info-text h1 {
  font-size: 30px;
}

footer {
  max-width: 1200px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 100px;
}
footer p {
  text-align: justify;
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  padding: 15px;
  border-radius: 10px;
}